// google font
// https://fonts.google.com/selection/embed
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
