#single_content {
  img {
    margin: 10px 0 !important;
    box-shadow: 5px 5px 5px 5px #0000000a;
  }
  h1,h2,h3,h4,h5,h6 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  ul {
    margin-top: 10px;
  }
}